body {
    font-family: Helvetica, sans-serif;
    color: #d16221;
    background: #c06224;
    padding: 0 40px;
    text-align: center;
    background:url(../images/planet.png)
}

nav {
    margin: 40px auto 0 auto;
    width: 370px;
    border-radius: 50px;
    background: #ff7505;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(175, 25, 25) 0%, rgb(255, 208, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.9;
}